<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kevin Mouton - Resume</title>
    <!-- main css file -->
    <link rel="stylesheet" href="../../css/style.css" />

    <!-- color styles - uncomment your preferred -->
    <link rel="stylesheet" type="text/css" href="../../css/skins/turquoise.css" name="colors" />
    <!--
    <link rel="stylesheet" type="text/css" href="css/skins/orange.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/yellow.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/green.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/blue.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/brown.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/violet.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/purple.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/grey.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/red.css" name="colors" />
    -->
    <!-- Style Switcher Box delete for remove styleswitcher-->
    @*<link rel="stylesheet" href="../../css/styleswitcher.css">*@
    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <script src="../../scripts/vendor/modernizr.js"></script>
</head>
<body>
    <!-- start styleswitcher, remove this -->
    <div class="switcher"></div>
    <!-- end styleswitcher -->
    <!-- Preloader -->
    <div class="mask">
        <div id="loader"></div>
    </div>
    <!--/Preloader -->
    <div class="menu-btn-left">
        <img alt="" src="../../img/nav.svg">
    </div>

    <!-- start navigation -->
    <nav class="pushy pushy-left">
        <div class="logo-small">
            <a class="inner-link" href="#home"><img class="logo nav-logo" alt="Kurr" src="../../img/moi.jpg"></a><br>
        </div>
        <!-- start menu -->
            <ul class="menu">
                <li><a class="inner-link" href="#about">About</a></li>
                <li><a class="inner-link" href="#education">Education</a></li>
                <li><a class="inner-link" href="#skills">Skills</a></li>
                <li><a class="inner-link" href="#portfolio">Portfolio</a></li>
                <li><a class="inner-link" href="#experience">Experience</a></li>
                <li><a class="inner-link" href="#prizes">Prizes</a></li>
                <li><a class="inner-link" href="#contact">Contact</a></li>
            </ul>
            <!-- end menu -->
            <!--start bottom menu content -->
            <div class="bottom-content">
                <ul class="contact-details">
                    <li><span>Kevin Mouton</span></li>
                    <li><a href="mailto:kevin.m.mouton@gmail.com">kevin.m.mouton@gmail.com</a></li>
                    <li><span>+33 675 34 6177</span></li>
                </ul>
            </div>
        <!-- end bottom menu content -->
    </nav>
    <!-- end navigation -->

    <div class="site-overlay"></div>
    <!-- start section #home -->
    <section id="home">
        <div class="bg_overlay2"></div>
        <div class="row">
            <div class="medium-8 medium-text-center medium-centered small-8 small-text-centered small-centered columns">
                <img class="logo" src="../../img/moi.jpg" alt="" /><br />
                <h3 class="white text-center">KEVIN MOUTON</h3>
                <p class="white text-center">Resume</p>
            </div>
        </div>
        <!-- mouse wheel on slider revolution (custom) -->
        <div class="intro-scroller">
            <a class="inner-link" href="#about">
                <img src="../../img/Down4.png" alt="" />
                @*<div class="arrow white" style="opacity: 1;">
                    <div class="wheel"></div>
                </div>*@
            </a>
        </div>
        <!-- end mouse wheel on slider revolution (custom) -->
    </section>
    <!-- end section #home -->

    <div id="wrapper">

        <!-- start section #about -->
        <section id="about">
            <div class="row bot-70">
                <div class="medium-5 columns">
                    <h2 class="white">About <strong>ME</strong></h2>
                    @*<p>Maecenas nec odio et ante tincidunt tempus.</p>*@
                </div>
                @*<div class="medium-1 columns">*@
                @*<i class="icon kurr-speech-streamline-talk-user big"></i>*@
                @*</div>
                    <div class="medium-6 columns">*@
                @*<p>Based on <span class="bold">K.I.S.S. principle</span>, i'm suitable for personal, portfolio, corporate or creative use.<br />
                    <span class="bold">Easy and funny to customize </span>i'm the perfect partner for your next project</p>*@
                @*</div>*@
            </div>
            <div class="row" data-equalizer>
                <div class="medium-5 columns wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="1.2s" data-wow-offset="30" data-equalizer-watch>
                    <img src="../../img/foot.jpg" alt="" />
                </div>
                <div class="medium-7 columns wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1.2s" data-wow-offset="30" data-equalizer-watch>
                    <div class="content-text">
                        <p>I'm a young and motivated developer looking for a job opportunity in Australia, mainly in the .NET technologies. I had several work experiences in France and in USA so I'm perfectly able to adapt to a new country and to a new culture. Australia is my American dream so if you are interested in my profile I'll be glad to discuss with you.</p>

                        <a class="cv_btn" title="Resume Kevin Mouton" href="../../CV/CV Kevin Mouton AU XL.pdf" style="margin-top: 20px">download resume</a>
                    </div>
                </div>

            </div>

        </section>
        <!-- end section #about -->
        <!-- start section #education -->
        <section id="education">
            <div class="row bot-70">
                <div class="medium-12 columns">
                    <h2>My <strong>EDUCATION</strong></h2>
                    <p>"The purpose of education is to replace an empty mind with an open one."<br />― Malcolm Forbes</p>
                </div>
                @*<div class="medium-1 columns">*@
                @*<i class="icon kurr-book-read-streamline big"></i>*@
                @*</div>
                    <div class="medium-6 columns">*@
                @*<p>Based on <span class="bold">K.I.S.S. principle</span>, i'm suitable for personal, portfolio, corporate or creative use.<br />
                    <span class="bold">Easy and funny to customize </span>i'm the perfect partner for your next project</p>*@
                @*</div>*@
            </div>
            <!-- start education box -->
            <div class="row education wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1.2s" data-wow-offset="30" data-equalizer>
                <div class="medium-2 columns">
                    <div class="date" data-equalizer-watch>
                        <h5>Sep<span>2015</span></h5>
                    </div>
                </div>
                <div class="medium-10 columns" data-equalizer-watch>
                    <h3>Master’s degree in Information Technologies</h3>
                    <p><i>Epitech - Paris, France</i></p>
                    <p>During 2 years I was leading a team of 7 students through the realization of a project called <a class="inner-link" href="#portfolio">PinMessaging</a>. It’s a mobile and web application that allows users to access, create and share geo localized content.</p>
                </div>
            </div>
            <!-- end education box -->
            <!-- start education box -->
            <div class="row education education wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="1.2s" data-wow-offset="30" data-equalizer>
                <div class="medium-2 columns">
                    <div class="date" data-equalizer-watch>
                        <h5>Oct<span>2014</span></h5>
                    </div>
                </div>
                <div class="medium-10 columns" data-equalizer-watch>
                    <h3>Master 1 in Information Technologies</h3>
                    <p><i>CSULB - Long Beach, United States of America</i></p>
                    <p>I spent one and a half semester abroad studying computer science, business intelligence and mobile games development.</p>
                </div>
            </div>
            <!-- end education box -->
            <!-- start education box -->
            <div class="row education wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1.2s" data-wow-offset="30" data-equalizer>
                <div class="medium-2 columns">
                    <div class="date" data-equalizer-watch>
                        <h5>May<span>2013</span></h5>
                    </div>
                </div>
                <div class="medium-10 columns" data-equalizer-watch>
                    <h3>Bachelor’s degree in Information Technologies</h3>
                    <p><i>Epitech - Nice, France</i></p>
                    <p>Epitech is an IT leading educational institution transforming a passion for computer science into expertise.</p>
                </div>
            </div>
            <!-- end education box -->

            <div class="bot-70"></div>
            <div class="row">
                <div class="medium-12 text-center">
                    <h3 class="bot-70">My <strong>INTERESTS</strong></h3>
                </div>
                <div id="interests" class="owl-carousel>">

                    <!-- start box -->

                    <div class="box">
                        <i class="icon kurr-star big"></i>
                        <h5>Astronomy</h5>
                        <p>“Every atom in your body came from a star that exploded. And, the atoms in your left hand probably came from a different star than your right hand. You are all stardust.”<br />― Lawrence Krauss</p>
                    </div>

                    <!-- end box -->
                    <!-- start box -->

                    <div class="box">
                        <i class="icon kurr-globe big"></i>
                        <h5>Travelling</h5>
                        <p>“The world is a book and those who do not travel read only one page.”<br />― Augustine of Hippo<br /><br /><br /><br /><br /></p>
                    </div>

                    <!-- end box -->
                    <!-- start box -->

                    <div class="box">
                        <i class="icon kurr-diving-leisure-sea-sport-streamline big"></i>
                        <h5>Sport</h5>
                        <p>“To uncover your true potential you must first find your own limits and then you have to have the courage to blow past them.”<br />― Picabo Street<br /><br /><br /></p>
                    </div>

                    <!-- end box -->
                    <!-- start box -->

                    <div class="box">
                        <i class="icon kurr-chef-food-restaurant-streamline big"></i>
                        <h5>Food</h5>
                        <p>“Food for the body is not enough. There must be food for the soul.”<br />― Dorothy Day<br /><br /><br /><br /><br /></p>
                    </div>

                    <!-- end box -->
                    <!-- start box -->

                    <div class="box">
                        <i class="icon kurr-design-pencil-rule-streamline big"></i>
                        <h5>Coding</h5>
                        <p>“Learning to write programs stretches your mind, and helps you think better, creates a way of thinking about things that I think is helpful in all domains.”<br />― Bill Gates<br /><br /></p>
                    </div>

                    <!-- stendart box -->
                    <!-- start box -->

                    <div class="box">
                        <i class="icon kurr-like-love-streamline big"></i>
                        <h5>User Experience</h5>
                        <p>“Just because nobody complains, doesn’t mean all parachutes are perfect.”<br />―  Benny Hill<br /><br /><br /><br /></p>
                    </div>

                    <!-- stendart box -->

                </div>
            </div>

        </section>
        <!-- end section #education -->
        <!-- start section testimonials -->
        <section id="testimonials">
            <div class="bg_overlay"></div>
            <div class="row">
                <div class="large-12 medium-8 medium-centered columns">

                    <!-- start testimonial coarousel -->
                    <div id="testimonial" class="owl-carousel text-centered">

                        <!-- start slide -->
                        <div>
                            <div class="large-9 large-centered medium-12 medium-centered columns">
                                <div class="large-12 medium-11 columns">
                                    <h3 class="white semi-bold">"Kevin is a resourceful developer. He appropriates the customers needs quickly and is efficient is his tasks"</h3>
                                    <h4 class="white bordered">Cyril Guyot - Project Manager - MCNEXT -</h4>
                                    <br /><br /><br />
                                </div>
                            </div>
                        </div>
                        <!-- end slide -->
                        <!-- start slide -->
                        <div>
                            <div class="large-9 large-centered medium-12 medium-centered columns">
                                <div class="large-12 medium-11 columns">
                                    <h3 class="white semi-bold">Pixel perfection on this theme<br />very useful for every purpose</h3>
                                    <h4 class="white bordered">Jhon Doe - Web Developer -</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end slide -->
                    </div>
                    <!-- end#testimonial carousel -->

                </div>
            </div>
        </section>
        <!-- end section testimonials -->
        <!-- start section #skills -->
        <section id="skills">
            <div class="row bot-70">
                <div class="medium-5 columns">
                    <h2>My <strong>SKILLS</strong></h2>
                </div>
                @*<div class="medium-1 columns">*@
                @*<i class="icon kurr-dashboard-speed-streamline big"></i>*@
                @*</div>
                    <div class="medium-6 columns">*@
                @*<p>Based on <span class="bold">K.I.S.S. principle</span>, i'm suitable for personal, portfolio, corporate or creative use.<br />
                    <span class="bold">Easy and funny to customize </span>i'm the perfect partner for your next project</p>*@
                @*</div>*@
            </div>
            <div class="row wow fadeInUp education" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="30">
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="75">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">C / C++</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="95">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">C#</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="70">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">VB.NET</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="90">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">XAML</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="85">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">WPF</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="75">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">WCF</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="95">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">Windows Phone 8/8.1</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="80">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">Universal Apps</h4>
                </div>
            </div>
            <br />
            <br />
            <div class="row wow fadeInUp education" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="30">
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="80">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">SQL / SQL Server</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="95">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">Visual Studio 2010 - 2013</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="80">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">Blend</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <h4 class="chart-title"></h4>
                </div>
            </div>
            <br />
            <br />
            <div class="row wow fadeInUp education" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="30">
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="80">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">Subversion</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="80">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">Team Foundation Server</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <span class="chart" data-percent="90">
                        <span class="percent"></span>
                    </span>
                    <h4 class="chart-title">Git</h4>
                </div>
                <div class="medium-3 columns text-center counter">
                    <h4 class="chart-title"></h4>
                </div>
            </div>
        </section>
        <!-- end section #skills -->
        <!-- start section #portfolio -->
        <section id="portfolio">
            <div class="row bot-70">
                <div class="medium-5 columns">
                    <h2>My <strong>PROJECTS</strong></h2>
                </div>
                <div class="medium-1 columns">
                    @*<i class="icon kurr-streamline-suitcase-travel big"></i>*@
                </div>
                <div class="medium-6 columns">
                    @*<p>Based on <span class="bold">K.I.S.S. principle</span>, i'm suitable for personal, portfolio, corporate or creative use.<br />
                        <span class="bold">Easy and funny to customize </span>i'm the perfect partner for your next project</p>*@
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns work">
                    <div class="portfolio-img">
                        <div class="portfolio-hover">
                                <a class="popup-link" href="../../img/sugarmole/home.png" title="Sugar Mole"><i class="icon kurr-zoom-in-1" style="margin-left: 70%"></i></a>
                                <a class="popup-link" href="../../img/sugarmole/actions.png" title="Sugar Mole"></a>
                                <a class="popup-link" href="../../img/sugarmole/add action.png" title="Sugar Mole"></a>
                                <a class="popup-link" href="../../img/sugarmole/add scenario.png" title="Sugar Mole"></a>
                                <a class="popup-link" href="../../img/sugarmole/add trigger.png" title="Sugar Mole"></a>
                                <a class="popup-link" href="../../img/sugarmole/voice.png" title="Sugar Mole"></a>
                        </div>
                        <img src="../../img/sugarmole/action square.png" alt="">
                    </div>
                    <div class="project-info">
                        <h3>Sugar Mole</h3>
                        <p>Design, Windows Phone & Tablet App<br/></p>
                        <p>Sugar Mole is a home automation application that gathers the connected devices of your home into a single app. It allows you to automatically manage your home by creating scenarios which make your connected devices interact together and give you almost unlimited possibilities.</p>
                    </div>
                </div>
                <div class="medium-4 columns work">
                    <div class="portfolio-img">
                        <div class="portfolio-hover">
                            <a class="popup-link" href="../../img/spicer/spicer1.jpg" title="Spicer"><i class="icon kurr-zoom-in-1"></i></a>
                        </div>
                        <img src="../../img/spicer/spicer2.jpg" alt="">
                    </div>
                    <div class="project-info">
                        <h3>Spicer</h3>
                        <p>Design & Windows Phone App<br /></p>
                        <p>Spicer is a Smartphone application that recommands activities for couples. You and your partner play separately and when there is a match the app let you know!</p>
                    </div>
                </div>
                <div class="medium-4 columns work">
                    <div class="portfolio-img">
                        <div class="portfolio-hover">
                            <a class="popup-link" href="../../img/pinmessaging/wp_ss_20150620_0001.jpg" title="PinMessaging"><i class="icon kurr-zoom-in-1" style="margin-left: 70%"></i></a>
                            <a class="popup-link" href="../../img/pinmessaging/wp_ss_20150614_0003.jpg" title="PinMessaging"></a>
                            <a class="popup-link" href="../../img/pinmessaging/wp_ss_20150614_0005.jpg" title="PinMessaging"></a>
                            <a class="popup-link" href="../../img/pinmessaging/wp_ss_20150614_0006.jpg" title="PinMessaging"></a>
                            <a class="popup-link" href="../../img/pinmessaging/wp_ss_20150614_0008.jpg" title="PinMessaging"></a>
                            <a class="popup-link" href="../../img/pinmessaging/wp_ss_20150614_0009.jpg" title="PinMessaging"></a>
                        </div>
                        <img src="../../img/pinmessaging/pinhome.jpg" alt="">
                    </div>
                    <div class="project-info">
                        <h3>PinMessaging</h3>
                        <p>Windows Phone App<br /></p>
                        <p>PinMessaging is a Smartphone application which lets you access information about a geographic area. You can read comments written by other users and also write your own.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section #portfolio -->
        <!-- start section #quote -->
        @*<section id="quote">
            <div class="bg_overlay"></div>
            <div class="row text-center">
                <h2 class="white">My name is Jervas Dudley, and from earliest childhood I have been a dreamer and a visionary.</h2>
                <h3 class="white">- H.P. Lovecraft -</h3>
            </div>
        </section>*@
        <section id="skills" style="margin-top: -155px"></section>
        <section id="prizes">
            <div class="row">
                <div class="medium-12  text-center ">
                    <h3 class="bot-70">My <strong>PRIZES</strong></h3>
                </div>
                <div>
                    <div class="box medium-4 columns" style="margin-left: 15%">
                        <i class="icon kurr-trophy-1 big"></i>
                        <h5>Hack4Europe 2015</h5>
                        <h1>#1</h1>
                        <h6><b></b></h6><p><br />Hack4Europe it's 130 teams and 300 developers coming from 22 different countries. We ranked #1 in the category Energy with a project called <a class="inner-link" href="#portfolio">Sugar Mole</a>.<br /><a href="http://hack4europe.com/">http://hack4europe.com/</a></p>
                    </div>
                    <div class="box medium-4 columns" style="margin-right: 15%">
                        <i class="icon kurr-trophy-1 big"></i>
                        <h5>Burbank Game+Hack 2014</h5>
                        <h1>#4</h1>
                        <p><br />Burbank Game+Hack it's 22 teams and 85 developers. We ranked #4 with a platform game.<br /><a href="http://www.burbankgamehack.com/">http://www.burbankgamehack.com/</a><br /><br /><br />  </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- ens section #quote -->
        <!-- start section #experience -->
        <section id="experience">
            <div class="row bot-70">
                <div class="medium-12 columns">
                    <h2>My <strong>EXPERIENCE</strong></h2>
                    <p>"Choose a job you love, and you will never have to work a day in your life."<br />― Confucius</p>
                </div>
            </div>
            <div id="cd-timeline" class="cd-container" style="margin-bottom: -150px">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                        <i class="icon kurr-design-pencil-rule-streamline"></i>
                    </div> <!-- cd-timeline-img -->
                    <div class="cd-timeline-content">
                        <h2>.NET Consultant and Developer</h2>
                        <p><strong>SOAT - Paris, France</strong></p>
                        <p>SOAT is an IT Services Company specialized in Microsoft, Web and Mobile Technologies in an agile environment.</p>
                        <p>As a .NET consultant for Eurosport, I am in charge of 3 softwares which manage the programs scheduling for all Eurosport channels.</p>
                        <ul style="list-style-type:disc">
                            <li>Corrective maintenance (C#, XAML, WPF, WCF)</li>
                            <li>User service and assistance</li>
                            <li>Technical and user documentation writing</li>
                            <li>Adaptative and progressive maintenance as new channels are created</li>
                        </ul>
                        <span class="cd-date">From March 2015 to present</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                        <i class="icon kurr-design-pencil-rule-streamline"></i>
                    </div> <!-- cd-timeline-img --><div class="cd-timeline-content">
                        <h2>.NET Developer</h2>
                        <p><strong>Freelance - Paris, France</strong></p>
                        <p>I spend some of my free time developing apps for mobile and tablets. I developed 2 apps so far. </p>
                        <p>
                            <strong><a class="inner-link" href="#portfolio">Spicer</a></strong> is a smartphone application that recommends activities for couples. I was in charge of the design for all platforms and development of the Windows Phone app.
                            <ul style="list-style-type:disc">
                                <li>Creation of the specifications for the Android, iOS and Windows Phone apps </li>
                                <li>Development of the Windows Phone app (C#, XAML)</li>
                                <li>Unit testing</li>
                            </ul>
                        </p>
                        <p>
                            <strong><a class="inner-link" href="#portfolio">Sugar Mole</a></strong> is a home automation application for smartphones and tablets. The app lets you manage the connected objects of your house and create scenarios that let the objects interact together to automatically control your home. I was in charge of the design for all platforms and development of the Windows Phone and tablet app.
                            <ul style="list-style-type:disc">
                                <li>Creation of the specifications for the Android, iOS and Windows Phone apps  </li>
                                <li>Development of the Universal App (Windows Phone + tablet in C#, XAML) </li>
                                <li>Unit testing</li>
                            </ul>
                        </p>
                        <span class="cd-date">From December 2014 to present</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                        <i class="icon kurr-settings-streamline-1"></i>
                    </div> <!-- cd-timeline-img -->
                    <div class="cd-timeline-content">
                        <h2>.NET Developer</h2>
                        <p><strong>MCNEXT - Paris, France</strong></p>
                        <p>MCNEXT is an IT Services Company specialized in Microsoft's technologies.</p>
                        <p>I developed a website for Vinci Construction to manage reprography tasks.</p>
                        <ul style="list-style-type:disc">
                            <li>Development of Rest Web services (C#) </li>
                            <li>Development of the User Interface (AngularJS, Javascript, HTML5) </li>
                            <li>Management of data with Entity Framework </li>
                            <li>Creation of a feature to generate PDF</li>
                        </ul>
                        <span class="cd-date">From Sep 2014 to Feb 2015</span>
                    </div> <!-- cd-timeline-content -->
                </div> 

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                        <i class="icon kurr-camera-streamline-video"></i>
                    </div> <!-- cd-timeline-img -->
                    <div class="cd-timeline-content">
                        <h2>Software and Quality Assurance Developer</h2>
                        <p><strong>DP TECHNOLOGY - Camarillo, USA</strong></p>
                        <p>DP TECHNOLOGY is a leading developer and supplier of computer-aided manufacturing (CAM) software for a full range of machine tool applications. ESPRIT, DP Technology's flagship product, is a powerful, high-performance, full-spectrum programming system for milling, turning, wire EDM, and multi-tasking machine tools.</p>
                        <p>As a software quality assurance developer I was in charge of running Unit Tests and Regression Tests on every version of ESPRIT. I developed and updated the tools used to run the tests and I was also in charge of the SQA maintenance and bug reporting. I was in charge of the company’s software quality. </p>
                        <ul style="list-style-type:disc">
                            <li>Creation, update and launch of unit and regression tests (C#, C++)</li>
                            <li>Analyze of errors and creation of reports sent to the developer team </li>
                            <li>Addition of features to the tests softwares (C#, XAML, VB.NET, WPF)  </li>
                            <li>Creation of a module that generates statistics about the tests results (C#, XAML) </li>
                            <li>Creation of performance tests </li>
                        </ul>
                        <span class="cd-date">From May 2013 to Oct 2013</span>
                    </div> <!-- cd-timeline-content -->
                </div> 
            </div>
        </section>
        <!-- end section #experience -->
        
        <section id="skills">
        </section>
        @*<section id="prizes">
            <div class="row">
                <div class="medium-12  text-center ">
                    <h3 class="bot-70">My <strong>PRIZES</strong></h3>
                </div>
                <div>
                    <div class="box medium-4 columns" style="margin-left: 15%">
                        <i class="icon kurr-trophy-1 big"></i>
                        <h5>Hack4Europe 2015</h5>
                        <h1>#1</h1>
                        <h6><b></b></h6><p><br />Hack4Europe it's 130 teams and 300 developers coming from 22 different countries. We ranked #1 in the category Energy with a project called <a class="inner-link" href="#portfolio">Sugar Mole</a>.<br /><a href="http://hack4europe.com/">http://hack4europe.com/</a></p>
                    </div>
                    <div class="box medium-4 columns" style="margin-right: 15%">
                        <i class="icon kurr-trophy-1 big"></i>
                        <h5>Burbank Game+Hack 2014</h5>
                        <h1>#4</h1>
                        <p><br />Burbank Game+Hack it's 22 teams and 85 developers. We ranked #4 with a platform game.<br /><a href="http://www.burbankgamehack.com/">http://www.burbankgamehack.com/</a><br /><br /><br />  </p>
                    </div>
                </div>
            </div>
        </section>*@

        <!-- start section#social -->
        <section id="social">
            <div class="bg_overlay"></div>
            <div class="row text-center">
                <h3 class="white bot-70">My <strong>SOCIAL LINKS</strong></h3>
                <!-- start social links -->
                <a class="social" title="" href="https://mobile.twitter.com/KevinMoutonFr?p=s"><i class="icon kurr-twitter"></i></a>
                <a class="social" title="" href="https://www.linkedin.com/profile/view?id=262125079&trk=nav_responsive_tab_profile"><i class="icon kurr-linkedin"></i></a>
                <a class="social" title="" href="https://plus.google.com/u/1/109130499930226438970/posts"><i class="icon kurr-gplus"></i></a>
                <!-- end social links -->
            </div>
        </section>
        <!-- end section #social -->
        <!-- start section #contact -->
        <section id="contact">
            <div class="row bot-70">
                <div class="medium-5 columns">
                    <h2>Contact <strong>ME</strong></h2>
                </div>
                <div class="medium-1 columns">
                    @*<i class="icon kurr-pen-streamline-3 big"></i>*@
                </div>
                <div class="medium-6 columns">
                    @*<p>Based on <span class="bold">K.I.S.S. principle</span>, i'm suitable for personal, portfolio, corporate or creative use.<br />
                        <span class="bold">Easy and funny to customize </span>i'm the perfect partner for your next project</p>*@
                </div>
            </div>
            <div class="row bot-70 wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="1.2s" data-wow-offset="30">
                <!-- start link-box -->
                <div class="large-4 medium-4 columns link-box ">
                    <div class="about">
                        <i class="icon icon kurr-map-pin-streamline"></i>
                        <h3>Address</h3>
                        <p>13 rue des Gravilliers<br />Paris, 75003</p>
                    </div>
                </div>
                <!-- end link-box -->
                <!-- start link-box -->
                <div class="large-4 medium-4 columns link-box">
                    <div class="about">
                        <i class="icon kurr-email-mail-streamline"></i>
                        <h3>Email</h3>
                        <p>
                            <a href="mailto:kevin.m.mouton@gmail.com">kevin.m.mouton@gmail.com</a>
                        </p>
                    </div>
                </div>
                <!-- end link-box -->
                <!-- start link-box -->
                <div class="large-4 medium-4 columns link-box">
                    <div class="about">
                        <i class="icon kurr-iphone-streamline"></i>
                        <h3>Phone</h3>
                        <p>06 75 34 61 77<br/>+33 675 34 6177 </p>
                    </div>
                </div>
                <!-- end link-box -->
            </div>

            @*<div class="row wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1.2s" data-wow-offset="30">
                    <!-- start message validator -->
                    <div id="message"></div>
                    <!-- end message validator -->
                    <!-- start contact form -->
                    <form method="post" action="../../php/contact.php" name="contactform" id="contactform">
                        <div class="large-6 columns">
                            <input type="text" name="name" placeholder="Name" id="name" />
                        </div>
                        <div class="large-6 columns">
                            <input type="text" name="email" placeholder="Email" id="email" />
                        </div>
                        <div class="large-12 columns">
                            <textarea placeholder="Message" name="comments" id="comments"></textarea>
                        </div>
                        <div class="large-12 text-center columns">
                            <button type="submit" class="submit-button" id="submit" name="submit">Send</button>
                        </div>
                    </form>
                    <!-- end contact form -->
                </div>*@

        </section>
        <!-- end section #contact -->
        <!-- start footer -->
        <footer>
            <div class="row text-center">
                @*<h5 class="text-center">Kurr - 2014 © mordorthemes. All rights reserved.</h5>*@
            </div>
        </footer>
        <!-- end footer -->

    </div>
    <!-- end wrapper -->

    <script src="../../scripts/vendor/jquery.js"></script>
    <script src="../../scripts/foundation.min.js"></script>
    <script src="../../scripts/foundation/foundation.equalizer.js"></script>
    <script src="../../scripts/pushy_left.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.backstretch.js"></script>
    <script src="../../scripts/easypiechart.js"></script>
    <script src="../../scripts/smoothscroll.js"></script>
    <script src="../../scripts/magnific-popup.js"></script>
    <script src="../../scripts/wow.min.js"></script>
    <script type="text/javascript" src="../../scripts/owl.carousel.min.js"></script>
    <script src="../../scripts/custom.js"></script>
    <!-- Start Style Switcher to remove -->
    @*<script src="../../scripts/styleswitcher.js"></script>*@
    <script src="../../scripts/jquery-cookie.js"></script>
    <!-- End Style Switcher -->
    <script>
        $(document).foundation();
    </script>
    <script>
        new WOW().init();
    </script>
</body>
</html>
