<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kurr - Resume/Cv -</title>

    <!-- main css file -->
      <link rel="stylesheet" href="../../css/style.css" />


    <!-- color styles - uncomment your preferred -->
    <link rel="stylesheet" type="text/css" href="../../css/skins/turquoise.css" name="colors" />
    <!--
    <link rel="stylesheet" type="text/css" href="css/skins/orange.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/yellow.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/green.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/blue.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/brown.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/violet.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/purple.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/grey.css" name="colors" />
    <link rel="stylesheet" type="text/css" href="css/skins/red.css" name="colors" />
    -->

    <!-- Style Switcher Box delete for remove styleswitcher-->
      <link rel="stylesheet" href="../../css/styleswitcher.css">

    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

      <script src="../../scripts/vendor/modernizr.js"></script>
  </head>
  <body>

      <!-- start styleswitcher, remove this -->
      <div class="switcher"></div>
      <!-- end styleswitcher -->

      <!-- Preloader -->
      <div class="mask">
        <div id="loader"></div>
      </div>
      <!--/Preloader -->

      <div class="menu-btn-left">
          <img alt="" src="../../img/nav.svg">
      </div>
 
      <!-- start navigation -->
      <nav class="pushy pushy-left">

        <div class="logo-small">
          <a class="inner-link" href="#home"><img class="logo nav-logo" alt="Kurr" src="../../img/logo.png"></a><br>
        </div>

        <!-- start menu -->
        <ul class="menu">
          <li><a class="inner-link" href="#about">About</a></li>            
          <li><a class="inner-link" href="#education">Education</a></li>
          <li><a class="inner-link" href="#skills">Skills</a></li>
          <li><a class="inner-link" href="#portfolio">Portfolio</a></li>
          <li><a class="inner-link" href="#experience">Experience</a></li>
          <li><a class="inner-link" href="#contact">Contact</a></li>
        </ul>
        <!-- end menu -->
      
        <!--start bottom menu content -->
        <div class="bottom-content">
          <ul class="contact-details">
            <li><span>John Doe</span></li>
            <li><a href="mailto:johndoe@jhondoe.com">johndoe@jhondoe.com</a></li>
            <li><span>(123) 456 7890</span></li>
          </ul>
        </div>
        <!-- end bottom menu content -->

      </nav>
      <!-- end navigation -->
    
    <div class="site-overlay"></div>

    <!-- start section #home -->        
    <section id="home">
      <div class="bg_overlay"></div>
        <div class="row">
          <div class="medium-8 medium-text-center medium-centered small-8 small-text-centered small-centered columns">
              <img class="logo" src="../../img/logo.png" alt="" /><br />
            <h3 class="white text-center">JOHN DOE</h3>
            <p class="white text-center">Resume / CV</p>
          </div>
      </div>    

      <!-- mouse wheel on slider revolution (custom) -->
      <div class="intro-scroller">
        <a class="inner-link" href="#about" >
          <div class="mouse-icon white" style="opacity: 1;">
            <div class="wheel"></div>
          </div>
        </a>
      </div> 
      <!-- end mouse wheel on slider revolution (custom) -->

    </section>
    <!-- end section #home -->
    
   <div id="wrapper">
    
    <!-- start section #about -->
    <section id="about">

      <div class="row bot-70">

          <div class="medium-5 columns">
            <h2 class="white">About <strong>ME</strong></h2>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>
          <div class="medium-1 columns">
            <i class="icon kurr-speech-streamline-talk-user big"></i>
          </div>
          <div class="medium-6 columns">
            <p>Based on <span class="bold">K.I.S.S. principle</span>, i'm suitable for personal, portfolio, corporate or creative use.<br />
            <span class="bold">Easy and funny to customize </span>i'm the perfect partner for your next project</p>
          </div>

      </div>

      <div class="row" data-equalizer>
        <div class="medium-5 columns wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="1.2s"  data-wow-offset="30" data-equalizer-watch>
            <img src="../../img/about.jpg" alt="" />
        </div>

        <div class="medium-7 columns wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1.2s"  data-wow-offset="30" data-equalizer-watch>
          <div class="content-text">
            <p>Gun control global leaders; experience in the field, developing nations voice gender equality many voices social responsibility Ford Foundation refugee Nelson Mandela. Approach change-makers safety social good truth, countries minority, Rockefeller Kickstarter support. Pursue these aspirations; meaningful country, celebrate donors vulnerable citizens social entrepreneurship.</p>
            <p>Gun control global leaders; experience in the field, developing nations voice gender equality many voices social responsibility Ford Foundation refugee Nelson Mandela.</p>
          </div>
                   
        </div>

        <div class="medium-12 text-center columns wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s"  data-wow-offset="30">
          <a class="cv_btn" title="" href="#">download resume</a>
        </div>

      </div>
        
    </section>
    <!-- end section #about --> 

    <!-- start section #education -->
    <section id="education">

      <div class="row bot-70">
        <div class="medium-5 columns">
          <h2>My <strong>EDUCATION</strong></h2>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>
        <div class="medium-1 columns">
          <i class="icon kurr-book-read-streamline big"></i>
        </div>
        <div class="medium-6 columns">
          <p>Based on <span class="bold">K.I.S.S. principle</span>, i'm suitable for personal, portfolio, corporate or creative use.<br />
          <span class="bold">Easy and funny to customize </span>i'm the perfect partner for your next project</p>
        </div>
      </div>

      <!-- start education box -->
      <div class="row education wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1.2s"  data-wow-offset="30" data-equalizer>
        <div class="medium-2 columns">
          <div class="date" data-equalizer-watch>
            <h5>May <span>2011</span></h5>
          </div>
        </div>
        <div class="medium-10 columns" data-equalizer-watch>
          <h3> Master of Wordpress</h3>
          <p>Globalization investment democracy, economic development; economic independence free-speech fellows. Participatory monitoring; free expression education international development resourceful underprivileged altruism support partner.</p>
        </div>
      </div>
      <!-- end education box -->

      <!-- start education box -->
      <div class="row education education wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="1.2s"  data-wow-offset="30" data-equalizer>
        <div class="medium-2 columns">
          <div class="date" data-equalizer-watch>
            <h5>June <span>2012</span></h5>
          </div>
        </div>
        <div class="medium-10 columns" data-equalizer-watch>
          <h3> Master of Html/Css</h3>
          <p>Globalization investment democracy, economic development; economic independence free-speech fellows. Participatory monitoring; free expression education international development resourceful underprivileged altruism support partner.</p>
        </div>
      </div>
      <!-- end education box -->
      
      <!-- start education box -->
      <div class="row education wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1.2s"  data-wow-offset="30" data-equalizer>
        <div class="medium-2 columns">
          <div class="date" data-equalizer-watch>
            <h5>September <span>2012</span></h5>
          </div>
        </div>
        <div class="medium-10 columns" data-equalizer-watch>
          <h3> Degree of Photoshop</h3>
          <p>Globalization investment democracy, economic development; economic independence free-speech fellows. Participatory monitoring; free expression education international development resourceful underprivileged altruism support partner.</p>
        </div>
      </div>
      <!-- end education box -->

    <div class="bot-70"></div>

    <div class="row">

      <div class="medium-12 text-center">
        <h3 class="bot-70">My <strong>INTERESTS</strong></h3>
      </div>

      <div id="interests" class="owl-carousel>">

        <!-- start box -->
        
          <div class="box">
            <i class="icon kurr-like-love-streamline big"></i>
            <h5>User Experience</h5>
            <p>Capacity building women's rights rural development Bloomberg working alongside honor. Freedom positive social change challenges.</p>
          </div>
        
        <!-- stendart box -->

        <!-- start box -->
        
          <div class="box">
            <i class="icon kurr-design-pencil-rule-streamline big"></i>
            <h5>Web Design</h5>
            <p>Capacity building women's rights rural development Bloomberg working alongside honor. Freedom positive social change challenges.</p>
          </div>
        
        <!-- end box -->

        <!-- start box -->
        
          <div class="box">
            <i class="icon kurr-settings-streamline-1 big"></i>
            <h5>Development</h5>
            <p>Capacity building women's rights rural development Bloomberg working alongside honor. Freedom positive social change challenges.</p>
          </div>
        
        <!-- end box -->

        <!-- start box -->
        
          <div class="box">
            <i class="icon kurr-painting-pallet-streamline big"></i>
            <h5>Painting</h5>
            <p>Capacity building women's rights rural development Bloomberg working alongside honor. Freedom positive social change challenges.</p>
          </div>
        
        <!-- stendart box -->

        <!-- start box -->
        
          <div class="box">
            <i class="icon kurr-chef-food-restaurant-streamline big"></i>
            <h5>Cooking</h5>
            <p>Capacity building women's rights rural development Bloomberg working alongside honor. Freedom positive social change challenges.</p>
          </div>
        
        <!-- end box -->

        <!-- start box -->
        
          <div class="box">
            <i class="icon kurr-earth-globe-streamline big"></i>
            <h5>Travelling</h5>
            <p>Capacity building women's rights rural development Bloomberg working alongside honor. Freedom positive social change challenges.</p>
          </div>
        
        <!-- end box -->

      </div>

    </div>
      
    </section>
    <!-- end section #education -->

    <!-- start section testimonials -->
    <section id="testimonials">
      <div class="bg_overlay"></div>
      <div class="row">
    <div class="large-12 medium-8 medium-centered columns"> 
      
      <!-- start testimonial coarousel -->
      <div id="testimonial" class="owl-carousel text-centered"> 
        
        <!-- start slide -->
        <div>
          <div class="large-9 large-centered medium-12 medium-centered columns">
            <div class="large-12 medium-11 columns">
              <h3 class="white semi-bold">Original theme<br />Easy and funny to customize </h3>
              <h4 class="white bordered">Paula Doe - Microsoft -</h4>
            </div>
          </div>
        </div>
        <!-- end slide --> 
        
        <!-- start slide -->
        <div>
          <div class="large-9 large-centered medium-12 medium-centered columns">
            <div class="large-12 medium-11 columns">
              <h3 class="white semi-bold">Pixel perfection on this theme<br />very useful for every purpose</h3>
              <h4 class="white bordered">Jhon Doe - Web Developer -</h4>
            </div>
          </div>
        </div>
        <!-- end slide --> 
        
        <!-- start slide -->
        <div>
          <div class="large-9 large-centered medium-12 medium-centered columns">
            <div class="large-12 medium-11 columns">
              <h3 class="white semi-bold">this theme is fully responsive<br />Fix perfectly on every device</h3>
              <h4 class="white bordered">Paul Doe - Apple apps developer -</h4>
            </div>
          </div>
        </div>
        <!-- end slide --> 
        
      </div>
      <!-- end#testimonial carousel --> 
      
    </div> 
  </div>

    </section>
    <!-- end section testimonials -->

    <!-- start section #skills -->
    <section id="skills">

      <div class="row bot-70">

          <div class="medium-5 columns">
            <h2>My <strong>SKILLS</strong></h2>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>
          <div class="medium-1 columns">
            <i class="icon kurr-dashboard-speed-streamline big"></i>
          </div>
          <div class="medium-6 columns">
            <p>Based on <span class="bold">K.I.S.S. principle</span>, i'm suitable for personal, portfolio, corporate or creative use.<br />
            <span class="bold">Easy and funny to customize </span>i'm the perfect partner for your next project</p>
          </div>

      </div>

      <div class="row wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s"  data-wow-offset="30">
        

          <div class="medium-3 columns text-center counter">
            <span class="chart" data-percent="100"> 
              <span class="percent"></span> 
            </span>
            <h4 class="chart-title">Html</h4>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>

          <div class="medium-3 columns text-center counter">
            <span class="chart" data-percent="100"> 
              <span class="percent"></span> 
            </span>
            <h4 class="chart-title">Css</h4>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>

          <div class="medium-3 columns text-center counter">
            <span class="chart" data-percent="80"> 
              <span class="percent"></span> 
            </span>
            <h4 class="chart-title">Jquery</h4>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>

          <div class="medium-3 columns text-center counter">
            <span class="chart" data-percent="60"> 
              <span class="percent"></span> 
            </span>
            <h4 class="chart-title">Php/Mysql</h4>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>

          <div class="medium-3 columns text-center counter">
            <span class="chart" data-percent="90"> 
              <span class="percent"></span> 
            </span>
            <h4 class="chart-title">Photoshop</h4>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>

          <div class="medium-3 columns text-center counter">
            <span class="chart" data-percent="75"> 
              <span class="percent"></span> 
            </span>
            <h4 class="chart-title">Illustrator</h4>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>

          <div class="medium-3 columns text-center counter">
            <span class="chart" data-percent="60"> 
              <span class="percent"></span> 
            </span>
            <h4 class="chart-title">Photography</h4>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>

          <div class="medium-3 columns text-center counter">
            <span class="chart" data-percent="60"> 
              <span class="percent"></span> 
            </span>
            <h4 class="chart-title">Motion Video</h4>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>

        
      </div>
    </section>
    <!-- end section #skills -->

    <!-- start section #portfolio -->
    <section id="portfolio">

       <div class="row bot-70">

          <div class="medium-5 columns">
            <h2>My <strong>PORTFOLIO</strong></h2>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>
          <div class="medium-1 columns">
            <i class="icon kurr-streamline-suitcase-travel big"></i>
          </div>
          <div class="medium-6 columns">
            <p>Based on <span class="bold">K.I.S.S. principle</span>, i'm suitable for personal, portfolio, corporate or creative use.<br />
            <span class="bold">Easy and funny to customize </span>i'm the perfect partner for your next project</p>
          </div>

      </div>

      <div class="row">

      <div class="medium-4 columns work">
        <div class="portfolio-img">
          <div class="portfolio-hover"> 
              <a class="popup-link" href="../../img/portfolio/placeholder_big.jpg" title="Title Project"><i class="icon kurr-zoom-in-1"></i></a> 
          </div>
            <img src="../../img/portfolio/placeholder.jpg" alt=""> 
        </div>
        <div class="project-info">
          <h3>Title Project</h3>
          <p>Logo</p>
        </div>
      </div>

      <div class="medium-4 columns work">
        <div class="portfolio-img">
          <div class="portfolio-hover"> 
              <a class="popup-link" href="../../img/portfolio/placeholder_big.jpg" title="Title Project"><i class="icon kurr-zoom-in-1"></i></a> 
          </div>
            <img src="../../img/portfolio/placeholder.jpg" alt=""> 
        </div>
        <div class="project-info">
          <h3>Title Project</h3>
          <p>Web Design</p>
        </div>
      </div>

      <div class="medium-4 columns work">
        <div class="portfolio-img">
          <div class="portfolio-hover"> 
              <a class="popup-link" href="../../img/portfolio/placeholder_big.jpg" title="Title Project"><i class="icon kurr-zoom-in-1"></i></a> 
          </div>
            <img src="../../img/portfolio/placeholder.jpg" alt=""> 
        </div>
        <div class="project-info">
          <h3>Title Project</h3>
          <p>Development</p>
        </div>
      </div>

      <div class="medium-4 columns work">
        <div class="portfolio-img">
          <div class="portfolio-hover"> 
              <a class="popup-link" href="../../img/portfolio/placeholder_big.jpg" title="Title Project"><i class="icon kurr-zoom-in-1"></i></a> 
          </div>
            <img src="../../img/portfolio/placeholder.jpg" alt=""> 
        </div>
        <div class="project-info">
          <h3>Title Project</h3>
          <p>Photography</p>
        </div>
      </div>

      <div class="medium-4 columns work">
        <div class="portfolio-img">
          <div class="portfolio-hover"> 
              <a class="popup-link" href="../../img/portfolio/placeholder_big.jpg" title="Title Project"><i class="icon kurr-zoom-in-1"></i></a> 
          </div>
            <img src="../../img/portfolio/placeholder.jpg" alt=""> 
        </div>
        <div class="project-info">
          <h3>Title Project</h3>
          <p>Logo</p>
        </div>
      </div>

      <div class="medium-4 columns work">
        <div class="portfolio-img">
          <div class="portfolio-hover"> 
            <a class="popup-youtube" href="http://www.youtube.com/watch?v=7HKoqNJtMTQ" title="Title Project"><i class="icon kurr-zoom-in-1"></i></a> 
          </div>
            <img src="../../img/portfolio/placeholder.jpg" alt=""> 
        </div>
        <div class="project-info">
          <h3>Title Project</h3>
          <p>Motion Video</p>
        </div>
      </div>

    </div>

    </section>
    <!-- end section #portfolio -->  

    <!-- start section #quote --> 
    <section id="quote">
      <div class="bg_overlay"></div>
      <div class="row text-center">
        <h2 class="white">My name is Jervas Dudley, and from earliest childhood I have been a dreamer and a visionary.</h2>
        <h3 class="white">- H.P. Lovecraft -</h3>
      </div>
    </section>
    <!-- ens section #quote -->

    <!-- start section #experience -->
    <section id="experience" >

      <div class="row bot-70">

          <div class="medium-5 columns">
            <h2>My <strong>EXPERIENCE</strong></h2>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>
          <div class="medium-1 columns">
            <i class="icon kurr-clock-streamline-time big"></i>
          </div>
          <div class="medium-6 columns">
            <p>Based on <span class="bold">K.I.S.S. principle</span>, i'm suitable for personal, portfolio, corporate or creative use.<br />
            <span class="bold">Easy and funny to customize </span>i'm the perfect partner for your next project</p>
          </div>

      </div>

      <div id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <i class="icon kurr-design-pencil-rule-streamline"></i>
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Web Designer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde.</p>
        <span class="cd-date">From Jan 2014 to present</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <i class="icon kurr-camera-photo-polaroid-streamline"></i>
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Photographer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde.</p>
        <span class="cd-date">From may 2013 to Jan 2014</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <i class="icon kurr-settings-streamline-1"></i>
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Web Developer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde.</p>
        <span class="cd-date">From Jan 2013 to may 2013</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <i class="icon kurr-camera-streamline-video"></i>
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Video Maker</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde.</p>
        <span class="cd-date">From Jun 2012 to Jan 2013</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
  </div> <!-- cd-timeline -->

    </section>
    <!-- end section #experience -->

    <!-- start section#social -->
    <section id="social">
      <div class="bg_overlay"></div>

      <div class="row text-center">
        <h3 class="white bot-70">My <strong>SOCIAL LINKS</strong></h3>

      <!-- start social links -->
        <a class="social" title="" href="#"><i class="icon kurr-facebook"></i></a>
        <a class="social" title="" href="#"><i class="icon kurr-twitter"></i></a>
        <a class="social" title="" href="#"><i class="icon kurr-linkedin"></i></a>
        <a class="social" title="" href="#"><i class="icon kurr-gplus"></i></a>
        <a class="social" title="" href="#"><i class="icon kurr-behance"></i></a>
      <!-- end social links -->

    </div>

    </section>
    <!-- end section #social -->

    <!-- start section #contact -->
    <section id="contact">

      <div class="row bot-70">

          <div class="medium-5 columns">
            <h2>Contact <strong>ME</strong></h2>
            <p>Maecenas nec odio et ante tincidunt tempus.</p>
          </div>
          <div class="medium-1 columns">
            <i class="icon kurr-pen-streamline-3 big"></i>
          </div>
          <div class="medium-6 columns">
            <p>Based on <span class="bold">K.I.S.S. principle</span>, i'm suitable for personal, portfolio, corporate or creative use.<br />
            <span class="bold">Easy and funny to customize </span>i'm the perfect partner for your next project</p>
          </div>

      </div>

      <div class="row bot-70 wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="1.2s"  data-wow-offset="30">

        <!-- start link-box -->
        <div class="large-4 medium-4 columns link-box " > 
          <div class="about">               
            <i class="icon icon kurr-map-pin-streamline"></i>
            <h3>Address</h3>
            <p>18 Short Street, 9C<br />Los Angeles, LA 10013</p>
          </div>        
        </div>
        <!-- end link-box -->

        <!-- start link-box -->
        <div class="large-4 medium-4 columns link-box">
          <div class="about">        
            <i class="icon kurr-email-mail-streamline"></i>
            <h3>Email</h3>
            <p>info@kurr.com<br />support@kurr.com</p>
          </div>       
        </div>
        <!-- end link-box -->

        <!-- start link-box -->
        <div class="large-4 medium-4 columns link-box">  
        <div class="about">             
            <i class="icon kurr-iphone-streamline"></i>
            <h3>Phone/Fax</h3>
            <p>+24 524 235681<br />+24 568 548236</p>
          </div>       
        </div>
        <!-- end link-box -->

      </div>

      
      <div class="row wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1.2s"  data-wow-offset="30">

        <!-- start message validator -->
        <div id="message"></div>
        <!-- end message validator -->
        <!-- start contact form -->

          <form method="post" action="../../php/contact.php" name="contactform" id="contactform">
              <div class="large-6 columns">
                  <input type="text" name="name" placeholder="Name" id="name" />
              </div>
              <div class="large-6 columns">
                  <input type="text" name="email" placeholder="Email" id="email" />
              </div>
              <div class="large-12 columns">
                  <textarea placeholder="Message" name="comments" id="comments"></textarea>
              </div>
              <div class="large-12 text-center columns">
                  <button type="submit" class="submit-button" id="submit" name="submit">Send</button>
              </div>
          </form>
      <!-- end contact form -->

      </div>
      
    </section>
    <!-- end section #contact -->

    <!-- start footer -->
    <footer>
      <div class="row text-center">
        <h5 class="text-center">Kurr - 2014 © mordorthemes. All rights reserved.</h5>
      </div>
    </footer>
    <!-- end footer -->
  
    </div>
    <!-- end wrapper -->
    
      <script src="../../scripts/vendor/jquery.js"></script>
      <script src="../../scripts/foundation.min.js"></script>
      <script src="../../scripts/foundation/foundation.equalizer.js"></script>
      <script src="../../scripts/pushy_left.js"></script>
      <script type="text/javascript" src="../../scripts/jquery.backstretch.js"></script> 
      <script src="../../scripts/easypiechart.js"></script>
      <script src="../../scripts/smoothscroll.js"></script>
      <script src="../../scripts/magnific-popup.js"></script>
      <script src="../../scripts/wow.min.js"></script>
      <script type="text/javascript" src="../../scripts/owl.carousel.min.js"></script> 
      <script src="../../scripts/custom.js"></script>

    <!-- Start Style Switcher to remove --> 
      <script src="../../scripts/styleswitcher.js"></script> 
      <script src="../../scripts/jquery-cookie.js"></script> 
    <!-- End Style Switcher -->

    <script>
      $(document).foundation();
    </script>

    <script>
      new WOW().init();
    </script>
  </body>

</html>
